# Phase 1: embedding baseline
numpy
pandas
botok
pyewts
huggingface_hub
accelerate
bitsandbytes>=0.50.1
ipykernel
sentence-transformers>=2.2.0
torch>=2.0.0
transformers>=4.30.0

# Plotting and Visualization
matplotlib
seaborn
plotly
 
